nav {
    height:5em;
}

.navbar-brand{
    font-weight: bold;
    font-family: "Verdana", Geneva, sans-serif;
}

nav .form-control{
    filter:opacity(70%); 
    
}

nav i{
    font-size: 2rem;
    color : #6394F8;
    padding-left : 3%;
    padding-right : 3%;
}

nav i.fa-shopping-cart{
    color : #f8f9fa;
}

nav .btn-info {
    font-size: 1rem;
    color : #f8f9fa;
    background-color: #6394F8;
}

#cart-image .badge{
    font-size : 0.6rem;
    position:absolute;
    top:1.7rem;
    left:1.6rem;
}

.dropdown-menu i.fa-shopping-cart{
    color : #6394F8;
}

#flags img{
    height: 1.5rem;
    margin: 0.5rem;
}
