/* general -------------------------------------------------------------------------- */
body,  legend, label, input {
    font: normal 12pt verdana, helvetica, sans-serif;
    /*
    background-image : url("../images/aqua_1.jpg");
    background-attachment: fixed;
    background-size: 100%;
    */
}


fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
    margin: 10px;
}

legend {
    font-weight: bold;
    color: #0568CD;
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
}

/* Styles et couleurs -------------------------------------------------------------------------- */
.requis {
    color: #0568CD;
}

.erreur {
    color: #900;
}

.succes {
    color: #090;
}

.info {
    font-style: italic;
    color: #E8A22B;
}

/* database css  -------------------------------------------------------------------------- */
.indent-none {
    display: block;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0px;
}

.indent-disc {
    display: block;
    list-style-type: disc;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 14px;
}

ul.checkmark {
    display: block;
    list-style-type:none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0px;
}

ul.checkmark li:before {
    content:"\2713\0020";
}
/* product figure -------------------------------------------------------------------------- */
figure {
    padding: 10px;
    margin: 0px 20px 50px 0px !important;
    display: inline;
}

.card-img-top{
    padding : 20%;
}

.languageImage{
    height: 10%;
    width: 20%;
}


/* login.jsp -------------------------------------------*/

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-singup{
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}